/* #a {
    text-align: center;
}
span{
    color: red;
}
#b{
    text-align: center;
}

#c{
    text-align: center;
    color: dimgray;
}
#col{
    width: 900px;
    margin: auto;
}
button{
    display: block;
    color: white;
    background: gray;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;

}
button:hover{
    background-color: #cb0c0c;
    color: white;
}
#col{
    background: lightgray;
}
#ce{
    text-align: center;
}
.container{
    text-align: center;
}
.div1{
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.img1{
    border: none;
    border-radius: 50%;
} */
